/*  */
* {
  font-family: sans-serif;
}

h1 {
  color: red;
}

.active{
  border-color: black;
  border-bottom-color: brown;
  border-style: dashed;
  border-width: 1px;
}

body {
  background: white url(https://static.vecteezy.com/system/resources/previews/000/104/014/original/vector-leaf-icon-pattern-background.jpg) repeat top right;
}

p {
  margin: 20px;
  border-color: white
border-style: dotted;
  border-width: 0.2px;

}
